#board {
    display: flex;
    justify-content: center;
    width: 605px;
    height: 605px;
    flex-wrap: wrap;
}

.cell {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreboard {
    height: 100px;
    width: 400px;
    border: 1px solid black;
    margin-bottom: 50px;
    display: flex;
}

.scoreboard-item {
    width: 50%;
    border: 1px solid black;
}

.playerName, 
.score {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}